SpatialLibriSpeech/meta/metadata_clean_train.csv filter=lfs diff=lfs merge=lfs -text
SpatialLibriSpeech/first10sec_metadata.csv filter=lfs diff=lfs merge=lfs -text
SpatialLibriSpeech/trimmed_[[:space:]]first10sec_metadata.csv filter=lfs diff=lfs merge=lfs -text
SpatialLibriSpeech/first10sec_metadata_fixed.csv filter=lfs diff=lfs merge=lfs -text
SpatialLibriSpeech/**/*.csv filter=lfs diff=lfs merge=lfs -text
